@model Chef

<div class="text-center">
    <h1 class="display-4">Welcome @ViewBag.Chef!</h1>
    <form asp-controller="Chef" asp-action="AddChef" method="POST">
        <div>
            <label asp-for="ChefName">Chef's Name: </label>
            <input asp-for="ChefName" />
        </div>
        <div>
            <label asp-for="ChefAge">Chef's Age: </label>
            <input asp-for="ChefAge" />
        </div>
        <button type="submit">Submit</button>
    </form>
</div>