@model List<Chef>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="display: flex; justify-content: space-between;">
    <div style="margin-left: 200px; border-bottom: 3px solid black; width: 600px; padding-bottom: 15px;">
        <h1 class="display-4">
            Chefs | <a href="/dish">Dishes</a></h1>
        <h4 style="flex-direction: column;">Check out our roster of Great Chefs!</h4>
    </div>

    <hr>
</div>

</table>
